<!doctype html>
<head>
<title>OCTOBOX background tasks</title>
<META HTTP-EQUIV="refresh" CONTENT="15">
</head>
<body>
    <h1>OCTOBOX Job List</h1>
<table>
  <tr>
    <td>Job ID</td>
    <td>Job Name</td>
    <td>Arguments</td>
    <td>Keyword Arguments</td>
    <td>Started</td>
    <td>Timestamp</td>
    <td>State</td>
    <td>Exception</td>
  </tr>
{% for task in tasks %}
  <tr>
    <td>{{ task.id }}</td>
    <td>{{ task.name }}</td>
    <td>{{ task.args }}</td>
    <td>{{ task.kwargs }}</td>
    <td>{{ task.started }}</td>
    <td>{{ task.tstamp }}</td>
    <td>{{ task.state }}</td>
    <td>{{ task.exception }}</td>
  </tr>
{% endfor %}
</table>
</body>
