<!doctype html>
<head>
<title>OCTOBOX Reports</title>
<META HTTP-EQUIV="refresh" CONTENT="15">
</head>
<body>
    <h1>OCTOBOX Reports</h1>
    <h2>Initiated report jobs</h2>
<table>
  <tr>
    <td>Report ID</td>
    <td>Report Name</td>
    <td>Arguments</td>
    <td>Keyword Arguments</td>
    <td>Started</td>
    <td>Timestamp</td>
    <td>State</td>
    <td>Exception</td>
  </tr>
{% for report in in report_jobs %}
  <tr>
    <td>{{ report.id }}</td>
    <td>{{ report.name }}</td>
    <td>{{ report.args }}</td>
    <td>{{ report.kwargs }}</td>
    <td>{{ report.started }}</td>
    <td>{{ report.tstamp }}</td>
    <td>{{ report.state }}</td>
    <td>{{ report.exception }}</td>
  </tr>
{% endfor %}
</table>
<h2>Server Reports</h2>
<h3>Compliance Graph</h3>
<form action="." method="POST">
  <select name="target_id" width="200px">
    {% for server in server_list %}
      <option value="{{ server.id }}" SELECTED>{{ server.group_name }} : {{ server.hostname }}</option>
    {% endfor %}
  </select>
  <select name="report_type" width="200px">
    <option value="compliance_graph" SELECTED>Compliance Graph</option>
  <input name="herethereeverywhere" type="submit" value="Generate">
</form>
</body>
